#ignore python compiled files
*.pyc

#ignore PyCharm project data
.idea
venv/

#ignore backup folders
**/backup/

#ignore other files
notes.md

#ignore other unimportant expanded HDA files
.OPfallbacks
.OPdummydefs
.createtimes
.modtimes
