#ignore python compiled files
*.pyc

#ignore PyCharm project data
.idea
venv/

#ignore backup folders
**/backup/

#ignore example ts_terrain
hip/examples/ts_terrain/

#ignore other files
.userconfigs
notes.md

#ignore other unimportant expanded HDA files
.OPfallbacks
.OPdummydefs
.createtimes
.modtimes
